<?xml version="1.0"?>
<config>
    <modules>
        <Codecia_SalesRepresentative>
            <version>1.0.1</version>
        </Codecia_SalesRepresentative>
    </modules>
    <global>
        <models>
            <codecia_salesrepresentative>
                <class>Codecia_SalesRepresentative_Model</class>
                <resourceModel>codecia_salesrepresentative_resource</resourceModel>
            </codecia_salesrepresentative>
            <codecia_salesrepresentative_resource>
                <class>Codecia_SalesRepresentative_Model_Resource</class>
                <deprecatedNode>codecia_salesrepresentative_mysql4</deprecatedNode>
                <entities>
                    <report>
                        <table>codecia_salesrepresentative_report</table>
                    </report>
                </entities>
            </codecia_salesrepresentative_resource>
        </models>
        <helpers>
            <codecia_salesrepresentative>
                <class>Codecia_SalesRepresentative_Helper</class>
            </codecia_salesrepresentative>
        </helpers>
        <resources>
            <codecia_salesrepresentative_setup>
                <setup>
                    <module>Codecia_SalesRepresentative</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </codecia_salesrepresentative_setup>
            <codecia_salesrepresentative_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </codecia_salesrepresentative_write>
            <codecia_salesrepresentative_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </codecia_salesrepresentative_read>
        </resources>
        <blocks>
            <codecia_salesrepresentative>
                <class>Codecia_SalesRepresentative_Block</class>
            </codecia_salesrepresentative>
        </blocks>
        <fieldsets>
            <sales_convert_quote>
                <representative_id><to_order>*</to_order></representative_id>
            </sales_convert_quote>

            <sales_convert_order>
                <representative_id><to_quote>*</to_quote></representative_id>
            </sales_convert_order>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <codecia_salesrepresentative>
                <use>standard</use>
                <args>
                    <module>Codecia_SalesRepresentative</module>
                    <frontName>codecia_salesrepresentative</frontName>
                </args>
            </codecia_salesrepresentative>
        </routers>
        <translate>
            <modules>
                <Codecia_SalesRepresentative>
                    <files>
                        <default>Codecia_SalesRepresentative.csv</default>
                    </files>
                </Codecia_SalesRepresentative>
            </modules>
        </translate>
        <layout>
            <updates>
                <codecia_salesrepresentative>
                    <file>codecia_salesrepresentative.xml</file>
                </codecia_salesrepresentative>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <codecia_salesrepresentative_admin>
                <use>admin</use>
                <args>
                    <module>Codecia_SalesRepresentative</module>
                    <frontName>codecia_salesrepresentative_admin</frontName>
                </args>
            </codecia_salesrepresentative_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Codecia_SalesRepresentative>
                    <files>
                        <default>Codecia_SalesRepresentative.csv</default>
                    </files>
                </Codecia_SalesRepresentative>
            </modules>
        </translate>
        <layout>
            <updates>
                <codecia_salesrepresentative>
                    <file>codecia_salesrepresentative.xml</file>
                </codecia_salesrepresentative>
            </updates>
        </layout>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <codecia_salesrepresentative>
                        <class>Codecia_SalesRepresentative_Model_Observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </codecia_salesrepresentative>
                </observers>
            </checkout_submit_all_after>

            <sales_order_grid_collection_load_before>
                <observers>
                    <codecia_salesrepresentative_sales_grid>
                        <class>Codecia_SalesRepresentative_Model_Observer</class>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </codecia_salesrepresentative_sales_grid>
                </observers>
            </sales_order_grid_collection_load_before>

            <controller_action_predispatch_adminhtml_sales_order_view>
                <observers>
                    <codecia_salesrepresentative_sales_view>
                        <class>Codecia_SalesRepresentative_Model_Observer</class>
                        <method>controllerActionAdminhtmlSalesOrderView</method>
                    </codecia_salesrepresentative_sales_view>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_view>
        </events>
    </adminhtml>
</config>
